include pymmcore/py.typed
recursive-include * *.pyi
recursive-include c-mda-engine/src/mmCoreAndDevices/MMDevice *.h *.cpp
recursive-include c-mda-engine/src/mmCoreAndDevices/MMCore *.h *.cpp
prune c-mda-engine/src/mmCoreAndDevices/MMDevice/unittest
prune c-mda-engine/src/mmCoreAndDevices/MMCore/unittest
